
@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.AiDialog {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .messagesHolder {
    flex-grow: 1;
    overflow-y: auto;
    transition: bottom 0.2s ease-in-out;
    width: 100%;

    .messages {
      position: relative;

      .message {
        width: auto;
        height: auto;
        display: flex;
        position: relative;
        margin: 16px 0;
        min-height: 42px;
        padding: 0 14px;

        .avatar {
          display: inline-block;

          img {
            width: 42px;
            height: 42px;
            object-fit: contain;
            border-radius: 28%;
            border: 2px solid #f2f2f2;
            transform: translateY(3px);
            background: #ffffff;
          }
        }

        .content {
          position: relative;
          display: inline-block;
          line-height: 30px;
          font-size: 15px;
          color: #222222;
          border-radius: 24px;
          max-width: calc(100% - 110px);
          overflow: hidden;
          padding: 12px 18px;

          .truthSize {
            position: absolute;
            top: 0;
            left: 0;
            padding: 12px 18px;
          }
        }
      }

      .messageEntering {
        animation: slideUp 0.48s ease-in-out;
      }

      .assistant {

        .avatar {
          margin-right: 10px;
        }
        .content {
          background: #f7f2ff;
          padding: 12px 18px;
          color: #130328;

          --md-ripple-hover-opacity: 0.02;
          --md-ripple-pressed-opacity: 0.04;
        }
      }

      .user {
        flex-direction: row-reverse;

        .avatar {
          margin-left: 10px;
        }
        .content {
          background: #5b3c9d;
          color: #ffffff;

          --md-ripple-hover-opacity: 0.05;
          --md-ripple-pressed-opacity: 0.09;
          --md-ripple-hover-color: #000;
          --md-ripple-pressed-color: #000;
        }
      }
    }
  }

  .messagesHolder::-webkit-scrollbar {
    display: none;
  }

  .messagesHolderGhost {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  .contentTruth {
    transition: all 0.16s ease-in-out;
  }

  .inputHolder {
    width: 86%;
    max-width: 860px;
    flex-shrink: 0;
    background: #ffffffcc;
    backdrop-filter: blur(16px);
    box-shadow: 0 0 6px 6px #aaaaaa2a;
    border-radius: 20px;
    border: none;
    transition:
        background-color 0.12s ease-in-out,
        height 0.2s ease-in-out,
        margin-bottom 0.2s ease-in-out,
        width 0.2s ease-in-out;
    overflow: hidden;
    margin-bottom: 24px;

    &:hover {
      box-shadow: 0 0 8px 8px #aaaaaa20;
      width: 86.5%;
    }
  }

  .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;

    font-family: sans-serif;
    line-height: 26px;
    font-size: 16px;
    color: #000000;
    padding: 12px 52px 12px 52px;
    transition: background-color 0.12s ease-in-out, height 0.2s ease-in-out;
    box-sizing: border-box;
  }

  .input::-webkit-scrollbar {
    display: none;
  }

  .input::placeholder {
    color: #00000077;
  }

  .input::-webkit-input-placeholder {
    color: #00000077;
  }

  .sendHolder {
    position: relative;
    width: 86%;
    max-width: 860px;
    height: 50px;
    margin-bottom: 24px;
    flex-shrink: 0;
    //background: #ff888888;
    pointer-events: none;
    transition:
        height 0.2s ease-in-out,
        margin-bottom 0.2s ease-in-out,
        width 0.2s ease-in-out;
    margin-top: -74px;
  }

  .mic {
    position: absolute;
    left: 8px;
    top: 50%;
    bottom: 10px;
    width: 36px;
    height: 36px;
    border-radius: 14px;
    transition: background-color 0.2s ease-in-out;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: all;

    span {
      color: #513f69;
      transition: color 0.2s ease-in-out;
    }

    &:hover {
      span {
        color: #291f36;
      }
    }
  }

  .send {
    position: absolute;
    right: 8px;
    top: 50%;
    bottom: 10px;
    width: 36px;
    height: 36px;
    border-radius: 14px;
    transition: background-color 0.2s ease-in-out;
    transform: translateY(-50%);

    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
  }

  .sendClickable {
    pointer-events: all;
    background: var(--md-sys-color-primary);

    &:hover {
      cursor: pointer;
      background: #632ead;
    }

    &:active {
      cursor: pointer;
      background: #46178a;
    }
  }

  .suggestion {
    flex-direction: column;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    transition: opacity 0.4s ease-in-out;
    max-height: 55%;
    overflow: hidden;

    .suggestionTitle {
      display: flex;
      align-items: stretch;
      width: 100%;
      text-align: center;
      margin: 0 0 22px 8px;
      font-size: 46px;
      font-family: 'Google Sans', sans-serif;
      color: #3c4757;
      font-weight: 600;
      white-space: nowrap;
    }

    .line {
      display: flex;
      align-items: stretch;

      .cardHolder {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        padding: 5px;

        .card {
          position: relative;
          flex-grow: 1;
          border-radius: 36px;
          padding: 22px 78px 22px 30px;
          background: #f2f8ff;
          color: #051c3f;
          line-height: 2;
          min-height: 60px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          --md-ripple-hover-opacity: 0.01;

          .send {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s ease-in-out;
            color: #cbe1ff;
          }

          &:hover {
            color: #001433;
            background: #e6f0ff;
            //transform: scale(1.01);

            .send {
              transform: translateY(-50%) scale(1.1);
              color: #b0d3ff;
            }
          }

          &:active {
            background: #d9e7ff;
          }
        }
      }
    }
  }

  .title {
    display: flex;
    width: 100%;
    white-space: nowrap;
    justify-content: center;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #513e70;
    user-select: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: -6px;
    margin-top: 20px;

    span {
      margin-left: 16px;
      transform: translateY(-6px);
    }

    &:hover {
      color: #3d2c59;
    }
  }

  .tableHolder {
    position: absolute;
    top: 100px;
    right: 12px;
    left: 12px;
    overflow-y: auto;
    transition: opacity 0.7s ease-in-out, bottom 0.3s ease-in-out;

    .table {
      margin: 12px 10px;
    }
  }

  .buttons {
    flex-shrink: 0;
    display: flex;
    width: 86%;
    max-width: 860px;
    height: 48px;
    margin-bottom: 12px;

    justify-content: right;
    user-select: none;
    transition: width 0.2s ease-in-out;

    .space {
      flex-grow: 1;
    }

    .buttonInner {
      display: flex;
      align-items: center;
      margin: 0 -4px 0 -12px;

      .text {
        font-size: 16px;
        font-weight: 500;
        margin-left: 8px;
      }
    }

    .button {
      position: relative;
      display: inline-flex;
      background: #5b3c9d;
      color: #ffffff;
      padding: 0 14px;
      border-radius: 28px;
      height: 48px;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;

      .text {
        font-size: 16px;
        font-weight: 500;
        margin-left: 8px;
        margin-right: 4px;
        white-space: nowrap;
      }

      //&:hover {
      //  background: #4a2d88;
      //}
      //
      //&:active {
      //  background: #3d2377;
      //}
    }

    .mini {
      position: relative;
      width: 20px;
      overflow: hidden;
      margin-right: 0 !important;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -50%);
      }
    }

    .secondary {
      background: #eddfff;
      color: #3c1f65;

      //&:hover {
      //  background: #d7c6f5;
      //}
      //
      //&:active {
      //  background: #c9b6ea;
      //}
    }
  }

  .hadTable {

    .left {
      width: 100%;

      .messagesHolder {
      }
    }

    .right {
      width: 100%;

      .buttons {

        .button {
          margin-left: 18px;
        }

        .secondary {
          margin-left: 0;
          margin-right: 10px;
        }
      }
    }
  }

  .scroll {
    scroll-behavior: smooth
  }

  .scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddddd;
    transition: all 0.2s ease-in-out;
  }

  .scroll::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
  }

  .shadow {
    min-height: 16px;
    width: 100%;
    background: #ffffff00;
    overflow: hidden;
    z-index: 10000000;
    position: relative;

    transition: bottom 0.2s ease-in-out;

    div {
      position: absolute;
      height: 0;
      left: 0;
      right: 0;
    }
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 54px;
    height: 54px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 16px;

    span {
      color: #e2e2e2;
    }

    &:hover {
      background: #eeeeee;

      span {
        color: #aaaaaa;
      }
    }

    &:active {
      background: #d2d2d2;

      span {
        color: #888888;
      }
    }
  }
}

.dl0 {
  $mb: 16px;

  .buttons {
    width: calc(100% - $mb * 2);
  }

  .inputHolder {
    width: calc(100% - $mb * 2);
    margin-bottom: $mb;
    border-radius: 22px;

    &:hover {
      width: calc(101% - $mb * 2);
    }
  }

  .sendHolder {
    width: calc(100% - $mb * 2);
    margin-bottom: $mb;
    margin-top: calc(-50px - $mb);
  }
}
