.Login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  position: relative;
  overflow: hidden;

  font-family: 'Corbel', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  .space1 {
    flex-grow: 1;
  }
  .space2 {
    flex-grow: 2;
  }
  .space3 {
    flex-grow: 3;
  }

  .decorateCorner {
    position: absolute;
    width: 200px;
    height: 46px;
    margin: 75px 0;
    transform: rotateZ(-45deg);
    transition: background-color 0.2s ease-in-out;
  }

  .decorateCorner:nth-child(1) {
    top:  -50px;
    left: -50px;
  }

  .decorateCorner:nth-child(2) {
    right:  -50px;
    bottom: -50px;
  }

  .box {
    width: 490px;
    height: 550px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    //border-bottom: 1px solid #000;
    //border-top: 1px solid #000;
    padding: 60px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    transition: height 0.6s ease-in-out;

    .topLine {
      position: absolute;
      right: 0;
      top: 0;
      height: 1px;
      background: #000;
      transition: width 0.6s ease-in-out;
    }

    .bottomLine {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: #000;
      transition: width 0.6s ease-in-out;
    }

    .decorate {
      position: absolute;
      top: -6px;
      left: -6px;
      border-left: black 12px solid;
      border-top: black 12px solid;
      transition: all 0.4s ease-in-out;
    }

    .decorateBackground {
      position: absolute;
      top: -6px;
      left: -6px;
      transition: all 0.4s ease-in-out;
      background: #fff;
    }

    .title {
      display: inline-block;
      width: 100%;
      z-index: 2;
      margin-top: -8px;
      position: relative;

      h2 {
        display: inline-block;
        font-size: 55px;
        font-weight: 700;
      }

      h4 {
        display: inline-block;
        font-size: 42px;
        font-weight: 300;
        margin-top: -10px;
        transform: scaleY(0.8);
      }

      .scrollBlock {
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        background: #9dee40;
        height: 100%;
        transform: translateX(73px);
        user-select: none;
      }
    }

    .inputs {
      display: block;

      .input {
        width: 100%;
        overflow: hidden;
        transition: all 0.2s ease-in-out;

        .send {
          font-size: 14px;
          padding: 4px 6px;
          user-select: none;
          cursor: pointer;
          border-radius: 6px;
          transition: all 0.2s ease-in-out;
          z-index: 1;
          color: #3b3e42;
        }

        .send:hover {
          color: #1c1f26;
          background: #f0f0f8;
        }

        .send:active {
          color: #000010;
          background: #e9eaee;
        }
      }

      .line {
        margin-top: -6px;
        display: flex;
        font-family: "Microsoft YaHei UI Light", sans-serif;
        user-select: none;

        div {
          flex-grow: 1;
        }

        span {
          color: #373b42;
          cursor: pointer;
          padding: 6px;
          border-radius: 6px;
          transition: all 0.2s ease-in-out;
          z-index: 1;
        }

        span:hover {
          color: #1c1f26;
          background: #f0f0f8;
        }

        span:active {
          color: #000010;
          background: #e9eaee;
        }
      }
    }

    .tip {
      z-index: 2;
      height: 24px;
      margin-bottom: 7px;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;

      span {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        font-size: 18px;
        margin-left: 6px;
        font-weight: 600;
      }
    }

    .btn {
      z-index: 4;
    }

    .decorates {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      div {
        position: absolute;
        width:  25px;
        height: 25px;
        background: #000;
        transition: all 0.2s ease-in-out;
      }

      div:nth-child(5) {
        top:  -13px;
        left: -13px;
      }

      div:nth-child(6) {
        bottom: -13px;
        right:  -13px;
      }

      div:nth-child(7) {
        top:   -13px;
        right: -13px;
      }

      div:nth-child(8) {
        bottom: -13px;
        left:   -13px;
      }

      .none {
        width: 0;
        height: 0;
      }

      .none:nth-child(5) {
        top: 0;
        left: 0;
      }

      .none:nth-child(6) {
        bottom: 0;
        right:  0;
      }

      .none:nth-child(7) {
        top:   0;
        right: 0;
      }

      .none:nth-child(8) {
        bottom: 0;
        left:   0;
      }

      p {
        position: absolute;
        width:  32px;
        height: 32px;
        background: #fff;
        transition: all 0.2s ease-in-out;
      }

      p:nth-child(1) {
        top:  -2px;
        left: -2px;
      }

      p:nth-child(2) {
        bottom: -2px;
        right:  -2px;
      }

      p:nth-child(3) {
        top:   -2px;
        right: -2px;
      }

      p:nth-child(4) {
        bottom: -2px;
        left:   -2px;
      }
    }

  }
}
